## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Turukhansk,RU,65.8167,87.9833,42.21,64,7,13.06,clear sky
1,1,Nanortalik,GL,60.1432,-45.2371,36.19,53,0,4.25,clear sky
2,2,Acri,IT,39.4929,16.3838,74.53,32,0,5.55,clear sky
3,3,Busselton,AU,-33.6500,115.3333,63.09,70,100,13.62,overcast clouds
4,4,Punta Arenas,CL,-53.1500,-70.9167,37.51,87,0,9.22,clear sky
...,...,...,...,...,...,...,...,...,...,...
679,679,Pedasi,PA,7.5333,-80.0333,76.06,84,86,0.58,overcast clouds
680,680,Half Moon Bay,US,37.4636,-122.4286,63.14,90,90,1.01,mist
681,681,Boguchany,RU,58.3814,97.4531,44.98,61,100,3.76,overcast clouds
682,682,Solikamsk,RU,59.6196,56.7729,52.34,65,100,7.23,overcast clouds
683,683,Kaspiyskiy,RU,45.3929,47.3707,64.00,51,94,4.65,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Acri,IT,39.4929,16.3838,74.53,32,0,5.55,clear sky
3,3,Busselton,AU,-33.6500,115.3333,63.09,70,100,13.62,overcast clouds
9,9,Tucupita,VE,9.0622,-62.0510,72.28,99,99,1.77,overcast clouds
10,10,Butaritari,KI,3.0707,172.7902,83.79,74,14,10.78,few clouds
12,12,Carnarvon,AU,-24.8667,113.6333,73.47,56,40,17.27,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
674,674,Mitsamiouli,KM,-11.3847,43.2844,78.84,70,5,7.61,clear sky
676,676,Tame,CO,6.4610,-71.7300,69.80,96,100,2.26,overcast clouds
679,679,Pedasi,PA,7.5333,-80.0333,76.06,84,86,0.58,overcast clouds
680,680,Half Moon Bay,US,37.4636,-122.4286,63.14,90,90,1.01,mist
683,683,Kaspiyskiy,RU,45.3929,47.3707,64.00,51,94,4.65,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
print(len(preferred_cities_df))
preferred_cities_df.count()

377

City_ID                377
City                   377
Country                373
Lat                    377
Lng                    377
Max Temp               377
Humidity               377
Cloudiness             377
Wind Speed             377
Current Description    377
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = preferred_cities_df.dropna(axis="index", how="any")
print(len(clean_df))
clean_df.head()

373

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Acri,IT,39.4929,16.3838,74.53,32,0,5.55,clear sky
3,3,Busselton,AU,-33.6500,115.3333,63.09,70,100,13.62,overcast clouds
9,9,Tucupita,VE,9.0622,-62.0510,72.28,99,99,1.77,overcast clouds
10,10,Butaritari,KI,3.0707,172.7902,83.79,74,14,10.78,few clouds
12,12,Carnarvon,AU,-24.8667,113.6333,73.47,56,40,17.27,scattered clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Acri,IT,74.53,clear sky,39.4929,16.3838,
3,Busselton,AU,63.09,overcast clouds,-33.6500,115.3333,
9,Tucupita,VE,72.28,overcast clouds,9.0622,-62.0510,
10,Butaritari,KI,83.79,few clouds,3.0707,172.7902,
12,Carnarvon,AU,73.47,scattered clouds,-24.8667,113.6333,
13,Praia Da Vitoria,PT,71.76,few clouds,38.7333,-27.0667,
27,Conceicao Do Araguaia,BR,73.42,scattered clouds,-8.2578,-49.2647,
28,Porto Velho,BR,71.65,smoke,-8.7619,-63.9039,
29,Cape Town,ZA,71.11,clear sky,-33.9258,18.4232,
30,Mahebourg,MU,77.29,few clouds,-20.4081,57.7000,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping the city.")
        hotel_df.loc[index, "Hotel Name"] = np.nan

Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.
Hotel not found...skipping the city.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Acri,IT,74.53,clear sky,39.4929,16.3838,HOTEL Restaurant Supersonik
3,Busselton,AU,63.09,overcast clouds,-33.6500,115.3333,Observatory Guest House
9,Tucupita,VE,72.28,overcast clouds,9.0622,-62.0510,Hotel Tucupita Suâ€‹ite C.A.
10,Butaritari,KI,83.79,few clouds,3.0707,172.7902,Isles Sunset Lodge
12,Carnarvon,AU,73.47,scattered clouds,-24.8667,113.6333,Hospitality Carnarvon
...,...,...,...,...,...,...,...
674,Mitsamiouli,KM,78.84,clear sky,-11.3847,43.2844,Foyer ADM
676,Tame,CO,69.80,overcast clouds,6.4610,-71.7300,Hospedaje Santa Ana
679,Pedasi,PA,76.06,overcast clouds,7.5333,-80.0333,Selina Pedasi
680,Half Moon Bay,US,63.14,mist,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
683,Kaspiyskiy,RU,64.00,overcast clouds,45.3929,47.3707,"Gostinitsa ""Gostevoy Dvor"""

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig
Figure(layout=FigureLayout(height='420px'))

# I tried everything in the module, tried matplotlib, tried importing it, but map is not displaying.

NameError: name 'Figure' is not defined